<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
    @media print{
       @page {
       overflow: auto;
       height: 100%;
       width:330mm;
       height:210mm;
       margin-top: 1cm;
       margin-bottom: 1cm;
       margin-left: 1cm;
       margin-right: 1cm;
            }
       }

    .umum, .umum tr td{
        vertical-align:top;
        font-family:Arial, Helvetica, sans-serif;
        text-align:justify;
        font-size:11pt;
        line-height:20px;
      }

    .jdl{
        text-align:center;
        font-family:Arial, Helvetica, sans-serif;
        font-size:14pt;
        font-weight: 600;
      }
    
    table tr td {
        border: 1px solid black;
    }

    .ttd, .ttd tr td{
        vertical-align:top;
        font-family:Arial, Helvetica, sans-serif;
        text-align:center;
        font-size:12pt;
        line-height:18px;
      }
      
    .border-none {
        border: none;
    }
</style>

<body>
<!-- JUDUL -->
<table width="100%" align="center" border="0" class="jdl" style="border: none;">
    <tr>
        <td width="90%" style="border: none;">
            <img src="logo-sby.svg" alt="" style="width: 80px;">
        </td width="10%" style="border: none;">
        <td style="border: none;">&nbsp;</td>
    </tr>
    <tr>
        <td style="border: none;">
            PEMERINTAH KOTA SURABAYA
        </td style="border: none;">
        <td style="border: none;">&nbsp;</td>
    </tr>
    <tr>
        <td style="border: none;">
            REMBUG KAMPUNG DATA TERPADU MASYARAKAT SURABAYA 2022
        </td>
        <td style="border: none;">
            DTMS2022.RK
        </td>
    </tr>
</table>
<br>

<table width="100%" align="center" border="0" class="umum" cellpadding="2" cellspacing="0" style="border-collapse: collapse;">
    <tr>
        <td colspan="6" style="text-align: center; background-color: grey;">
            <strong>BLOK I. IDENTITAS WILAYAH</strong> 
        </td>
    </tr>
    <tr>
        <td width="3%">
            1.
        </td>
        <td width="23.5%">
            Kecamatan
        </td>
        <td width="23.5%">
            ...
        </td>
        <td width="3%">
            4.
        </td>
        <td width="23.5%">
            RT
        </td>
        <td width="23.5%">
            ...
        </td>
    </tr>
    <tr>
        <td>
            2.
        </td>
        <td>
            Kelurahan
        </td>
        <td>
            ...
        </td>
        <td>
            5.
        </td>
        <td>
            Jumlah Keluarga dalam prelist awal
        </td>
        <td>
            ...
        </td>
    </tr>
    <tr>
        <td>
            3.
        </td>
        <td>
            RW
        </td>
        <td>
            ...
        </td>
        <td>
            6.
        </td>
        <td>
            Jumlah Keluarga dalam prelist akhir
        </td>
        <td>
            ...
        </td>
    </tr>
</table>
<br>

<table width="100%" align="center" border="0" class="umum" cellpadding="2" cellspacing="0" style="border-collapse: collapse;">
    <tr>
        <td colspan="9" style="text-align: center; background-color: grey;">
            <strong>BLOK II. DAFTAR KELUARGA</strong> 
        </td>
    </tr>
    <tr>
        <td width="3%" style="text-align: center; vertical-align: middle; font-weight: 600;">
            No.
        </td>
        <td width="12%" style="text-align: center; vertical-align: middle; font-weight: 600;">
            Nama Kepala<br>
            Keluarga (KK)
        </td>
        <td width="12%" style="text-align: center; vertical-align: middle; font-weight: 600;">
            Nomor Kartu Keluarga<br>
            (KK)
        </td>
        <td width="12%" style="text-align: center; vertical-align: middle; font-weight: 600;">
            Nama Anggota<br>
            Keluarga Lainnya
        </td>
        <td width="12%" style="text-align: center; vertical-align: middle; font-weight: 600;">
            Alamat Lengkap
        </td>
        <td width="12%" style="text-align: center; vertical-align: middle; font-weight: 600;">
            Apakah keluarga<br> 
            masih ada?
        </td>
        <td width="12%" style="text-align: center; vertical-align: middle; font-weight: 600;">
            Identifikasi 
            Tingkat 
            Kesejahteraan 
            berdasarkan 
            Rembug 
            Kampung:
        </td>
        <td width="12%" style="text-align: center; vertical-align: middle; font-weight: 600;">
            No Urut KK
        </td>
        <td width="12%" style="text-align: center; vertical-align: middle; font-weight: 600;">
            Catatan
        </td>
    </tr>
    <tr>
        <td>
            25.
        </td>
        <td>
            Nama Lengkap Saya
        </td>
        <td>
            3578152608900002
        </td>
        <td>
            Nama Keluarga Lain<br>
            Nama Keluarga Lain<br>
            Nama Keluarga Laindfdf
        </td>
        <td>
            Alamat Lengkap Saya dan Keluarga Saya
        </td>
        <td style="text-align: center; vertical-align: middle;">
            <strong>Ada</strong> 
        </td>
        <td style="text-align: center; vertical-align: middle;">
            <strong>Sangat Mampu</strong>
        </td>
        <td style="text-align: center; vertical-align: middle;">
            012
        </td>
        <td style="text-align: center; vertical-align: middle;">
            Catatan Keluargaku
        </td>
    </tr>
</table>
<br>

<table width="100%" align="center" border="0" class="umum" cellpadding="2" cellspacing="0" style="border-collapse: collapse;">
    <tr>
        <td class="border-none" width="5%">&nbsp;</td>
        <td class="border-none">RW</td>
        <td class="border-none" width="3%" style="text-align: center;">:</td>
        <td class="border-none" width="30%">...</td>
        <td class="border-none" width="15%">&nbsp;</td>
        <td class="border-none">RT</td>
        <td class="border-none" width="3%" style="text-align: center;">:</td>
        <td class="border-none" width="30%">...</td>
        <td class="border-none" width="5%">&nbsp;</td>
    </tr>
    <tr>
        <td class="border-none">&nbsp;</td>
        <td class="border-none">Nama</td>
        <td class="border-none" style="text-align: center;">:</td>
        <td class="border-none">...</td>
        <td class="border-none">&nbsp;</td>
        <td class="border-none">Nama</td>
        <td class="border-none" style="text-align: center;">:</td>
        <td class="border-none">...</td>
        <td class="border-none">&nbsp;</td>
    </tr>
    <tr>
        <td class="border-none">&nbsp;</td>
        <td class="border-none">Jabatan</td>
        <td class="border-none" style="text-align: center;">:</td>
        <td class="border-none">...</td>
        <td class="border-none">&nbsp;</td>
        <td class="border-none">Jabatan</td>
        <td class="border-none" style="text-align: center;">:</td>
        <td class="border-none">...</td>
        <td class="border-none">&nbsp;</td>
    </tr>
</table>


</body>
</html>